{% extends 'pages/base.html' %}

{% block title %}Home | PandaCMS{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-9">                
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-sidebar">
                        <h3>Left Sidebar</h3>
                        <ul class="sidebar-menu">
                            <li><a href="#">Menu Item 1</a></li>
                            <li><a href="#">Menu Item 2</a></li>
                            <li><a href="#">Menu Item 3</a></li>
                            <li><a href="#">Menu Item 4</a></li>
                            <li><a href="#">Menu Item 5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="content-container">
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Sed cras ornare arcu dui vivamus arcu felis bibendum ut. Tincidunt augue interdum velit euismod in pellentesque massa placerat duis. 
                            Quam id leo in vitae. Congue nisi vitae suscipit tellus. Fusce ut placerat orci nulla pellentesque. Erat imperdiet sed euismod nisi porta lorem. 
                            Orci phasellus egestas tellus rutrum tellus pellentesque. Euismod lacinia at quis risus sed vulputate odio ut enim. Vestibulum lorem sed risus 
                            ultricies tristique nulla aliquet enim. Faucibus ornare suspendisse sed nisi lacus sed viverra. Massa placerat duis ultricies lacus sed turpis. 
                            Faucibus interdum posuere lorem ipsum. Aenean vel elit scelerisque mauris pellentesque pulvinar. Aliquet nec ullamcorper sit amet risus nullam eget. 
                            Bibendum arcu vitae elementum curabitur. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras. In pellentesque massa 
                            placerat duis ultricies. Tincidunt arcu non sodales neque sodales ut etiam sit amet.</p>

                        <p>Blandit libero volutpat sed cras ornare arcu dui vivamus arcu. Nibh tortor id aliquet lectus. Malesuada proin libero nunc consequat interdum. Accumsan tortor 
                            posuere ac ut consequat. Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit. Donec ac odio tempor orci dapibus ultrices in. Elit duis 
                            tristique sollicitudin nibh. Nunc pulvinar sapien et ligula ullamcorper. Nam aliquam sem et tortor. Lacinia quis vel eros donec ac. Mus mauris vitae ultricies 
                            leo integer malesuada. Vitae tortor condimentum lacinia quis vel eros donec. Massa sapien faucibus et molestie ac feugiat. Adipiscing enim eu turpis egestas
                                pretium. Quam id leo in vitae turpis massa sed. Purus sit amet luctus venenatis lectus magna fringilla urna. Non nisi est sit amet facilisis magna etiam tempor.</p>
                            
                        <p>Morbi quis commodo odio aenean sed adipiscing. Tellus pellentesque eu tincidunt tortor aliquam. Magna fringilla urna porttitor rhoncus dolor purus. 
                            Pretium lectus quam id leo in vitae. In metus vulputate eu scelerisque felis imperdiet proin. Lectus sit amet est placerat in egestas erat imperdiet sed. 
                            Vulputate sapien nec sagittis aliquam. Et malesuada fames ac turpis egestas integer eget aliquet nibh. Blandit turpis cursus in hac habitasse platea dictumst. 
                            Massa ultricies mi quis hendrerit dolor magna eget est. In eu mi bibendum neque egestas congue. A pellentesque sit amet porttitor eget dolor morbi non arcu. 
                            Malesuada nunc vel risus commodo viverra.</p>
                            
                        <p>In mollis nunc sed id. Nisl nisi scelerisque eu ultrices vitae auctor eu augue ut. Diam sollicitudin tempor id eu nisl nunc mi. 
                            Congue nisi vitae suscipit tellus mauris. Condimentum lacinia quis vel eros. Nascetur ridiculus mus mauris vitae. Integer feugiat scelerisque varius morbi 
                            enim nunc faucibus a. Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. Elit eget gravida cum sociis natoque. Amet mattis vulputate 
                            enim nulla aliquet porttitor lacus luctus. Leo urna molestie at elementum eu facilisis sed odio morbi. Morbi tristique senectus et netus. Morbi tincidunt 
                            ornare massa eget egestas. Mauris in aliquam sem fringilla ut morbi tincidunt augue interdum. Elit pellentesque habitant morbi tristique senectus et netus 
                            et malesuada. At augue eget arcu dictum varius duis at consectetur lorem. Consequat interdum varius sit amet. Ut eu sem integer vitae justo eget magna fermentum.</p>
                            
                        <p>Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Turpis massa sed elementum tempus egestas sed. Accumsan sit amet nulla facilisi. 
                            Purus in mollis nunc sed id semper risus in. Venenatis cras sed felis eget. Nunc scelerisque viverra mauris in aliquam sem fringilla. Libero justo 
                            laoreet sit amet cursus sit amet dictum. Lacus luctus accumsan tortor posuere ac ut. Nisl condimentum id venenatis a. Nisl vel pretium lectus 
                            quam id leo in vitae. In eu mi bibendum neque egestas. Diam sit amet nisl suscipit adipiscing bibendum est ultricies integer. Massa ultricies 
                            mi quis hendrerit dolor magna eget est lorem. Volutpat ac tincidunt vitae semper quis lectus nulla at. Vel elit scelerisque mauris pellentesque. 
                            Interdum velit euismod in pellentesque massa placerat duis ultricies. Sagittis aliquam malesuada bibendum arcu vitae elementum. Tellus cras adipiscing 
                            enim eu turpis egestas pretium aenean pharetra. Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Quam viverra orci sagittis eu volutpat.</p>
                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>
{% endblock %}