{% extends 'base.html' %}

{% block title %}Home | PandaCMS{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h1>Welcome to PandaCMS</h1>
            <p>This is the homepage of PandaCMS.</p>
            <!-- Add more content as needed -->
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Right Box</h5>
                    <p>This is a box on the right side of the page.</p>
                    <!-- Add more content for the right box -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}